<%- include("./partials/layout-start", {title: title}) %>
<%- include("./partials/menu") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <% if(!user) { %>
            <h1 class="display-4"><%= title %></h1>
            <p>Hello, <a href="./user/login"> Please authorized </a></p>
        <% } else { %>
            <p>Привет, <%= user.name %></p>
            <p>Перейти в <a href="./user/profile">профиль</a>.</p>
            <button><a href="./user/logout">Log out</a></button>
        <% } %>
    </div>
</div>

<%- include("./partials/layout-end") %>