<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>
<h1><%= title %></h1>

<% if(!user) { %>
  <% console.log("Problem with user data") %>
<% } else { %>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          Имя: <%= user.name %>
        </h5>
        <p class="card-text">
          Email: <%= user.email %>
        </p>
        <p class="card-text"><small class="text-muted">Last updated ... ago</small></p>
      </div>
    </div>
  </div>
  <button><a href="/user/logout">Log Out</a></button>
</div>


<% } %>

<%- include("../partials/layout-end") %>